[colors]
brightgravel   = #d9cec3
lightgravel    = #998f84
gravel         = #857f78
mediumgravel   = #666462
deepgravel     = #45413b
deepergravel   = #35322d
darkgravel     = #242321
blackgravel    = #1c1b1a
blackestgravel = #141413

yellow = #fade3e
dirty_yellow = #f4cf86
red = #ff2c4b
cyan = #8cffba
blue = #0a9dff
orange = #ffa724
green = #aeee00
pink = #ff9eb8
purple = #ff9eb8
brown = #b88853
other_brown = #c7915b
dark_brown = #88633f

black = #141413
white = #d9cec3
gray = #45413b

;background = ${xrdb:color0:#222}
;foreground = ${xrdb:color7:#222}
background = ${colors.black}
background-alt = ${colors.background}
foreground = ${colors.other_brown}
foreground-alt = ${colors.gray}

include-file = ~/.config/polybar/config

; vim:ft=dosini
