[colors]
gray1  = #1b202a
gray2  = #232936
gray3  = #323c4d
gray4  = #51617d
gray5  = #9aa7bd
red    = #b15e7c
green  = #709d6c
yellow = #b5a262
blue   = #608cc3
purple = #8f72bf
cyan   = #56adb7
orange = #b3785d
pink   = #c47ebd
black  = #1b202a
white  = #9aa7bd
gray   = #323c4d

;background = ${xrdb:color0:#222}
;foreground = ${xrdb:color7:#222}
background = ${colors.black}
background-alt = ${colors.background}
foreground = ${colors.white}
foreground-alt = ${colors.white}


include-file = ~/.config/polybar/config

; vim:ft=dosini
