[colors]
brightgravel   = #d9cec3
lightgravel    = #998f84
gravel         = #857f78
mediumgravel   = #666462
deepgravel     = #45413b
deepergravel   = #35322d
darkgravel     = #242321
blackgravel    = #1c1b1a
blackestgravel = #141413

white = #d9cec3
black = #141413
gray = #45413b
cyan = #998f84
green = #857f78
orange = #666462
pink = #998f84
purple = #857f78
red = #666462
yellow = #d9cec3

;background = ${xrdb:color0:#222}
;foreground = ${xrdb:color7:#222}
background = ${colors.black}
background-alt = ${colors.background}
foreground = ${colors.white}
foreground-alt = ${colors.white}

include-file = ~/.config/polybar/config

; vim:ft=dosini
