[colors]
;background = #1d1f21
;background_reduced = #232c31
;foreground = #c5c8c6
selection = #373b41
line = #282a2e
comment = #707880
red = #cc6666
orange = #de935f
yellow = #f0c674
green = #b5bd68
cyan = #8abeb7
blue = #81a2be
purple = #b294bb
pink = #b294bb
window = #303030
darkcolumn = #1c1c1c
addbg = #5F875F
addfg = #d7ffaf
changebg = #5F5F87
changefg = #d7d7ff
delbg = #cc6666
darkblue = #00005f
darkcyan = #005f5f
darkred = #5f0000
darkpurple = #5f005f

white = #c5c8c6
black = #232c31
gray = #5F5F87

;background = ${xrdb:color0:#222}
;foreground = ${xrdb:color7:#222}
background = ${colors.black}
background-alt = ${colors.background}
foreground = ${colors.white}
foreground-alt = ${colors.white}

include-file = ~/.config/polybar/config

; vim:ft=dosini
