[colors]
black     = #2E3440
nearblack = #3B4252
darkgray  = #434C5E
gray      = #4C566A
lightgray = #D8DEE9
nearwhite = #E5E9F0
white     = #ECEFF4
cyan_dark = #8FBCBB
cyan      = #88C0D0
blue      = #81A1C1
blue_dark = #5E81AC
red       = #BF616A
orange    = #D08770
yellow    = #EBCB8B
green     = #A3BE8C
purple    = #B48EAD
pink      = #B48EAD

;background = ${xrdb:color0:#222}
;foreground = ${xrdb:color7:#222}
background = ${colors.black}
background-alt = ${colors.black}
foreground = ${colors.white}
foreground-alt = ${colors.white}

include-file = ~/.config/polybar/config

; vim:ft=dosini
